@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lora:wght@500&family=Playfair+Display&family=Poppins:wght@500&display=swap');

/* CSS Variables */

:root{
    --header-height: 5rem;
    --first-color: hsl(214, 98%, 52%);
    --title-color: hsl(224, 54%, 12%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(207, 4%, 99%);
    --color-text: hsl(240, 100%, 100%);

    --body-font: 'Robot', sans-serif;
        --title-font: 'Lora', serif;
        --biggest-font-size: 1.5rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
        --tiny-font-size: 0.625rem;

        /* ========Font weight========= */
            --font-medium: 500;
            --font-semi-bold: 600;
        
            /* =======Z-INDEX======== */
            --z-normal: 1;
            --z-tool-tip: 10;
            --z-fixed: 100;
}

@media screen and (min-width:1024px) {
    :root {
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
        --tiny-font-size: 0.688rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--title-color);
    color: var(--text-color);
    min-height: 100vh;
    transition: background 0.5s;
}

h1,
h2,
h3 {
    /* color: var(--title-color); */
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2.5rem;
}

.section-border {
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    /* color: var(--text-color-light); */
    margin-bottom: 3rem;
}

/* ================== header/NAV ========================= */
.header{
    background-color: hsl(224, 54%, 0%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-fixed);
    transition: all .3s;
    width: 100%;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 70px;
}

.logo2{
    width: 250px;
}

@media screen and (max-width: 1024px){
    .list-container{
        position: fixed;
        top: 0;
        background-color: var(--title-color);
        width: 60%;
        height: 100vh;
        right: -60%;
        transition: right 0.3s;
        padding: 4.5rem 0 0 3rem;
    }
}

.show-menu{
    right: 0;
}

.list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.link{
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.link:hover{
    color: var(--first-color);
}

.nav-close{
    position: absolute;
    top: 4rem;
    right: 3rem;
}

.nav-toggle,
.nav-close {
    font-size: 1.5rem;
    color: var(--color-text);
    cursor: pointer;
}

.home-img{
    margin-top: 3rem;
}

.home-section{
    row-gap: 4rem;
}

.home-content{
    display: grid;
    row-gap: 2rem;
}

.sample-text{
    text-align: center;
    max-width: 50%;
    font-size: 1.5rem;
    color: var(--color-text);
    padding: .5rem;
    margin-inline: auto;
    background-color: var(--first-color);
}

.home-data{
    row-gap: 20rem;
    text-align: center;
    color: var(--color-text);
}

h3{
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--first-color);
    color: var(--color-text);
    padding: 2rem;
    margin-bottom: 2rem;
}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-example{
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 2.3rem;
}

.product-img{
    width: 400px;
}

.product-link{
    color: var(--color-text);
    cursor: pointer;
}

.bottom-text p{
    color: var(--color-text);
}

.bottom-text p i, .footer-container p i{
    font-size: 1.2rem;
}

.footer{
    background-color: hsl(223, 64%, 9%);
    min-width: 541px;
}


.footer-container{
    text-align: center;
    color: var(--color-text);
}

.footer-container .boss{
    font-size: var(--biggest-font-size);
}

@media screen and (max-width: 552px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .home-section .sample-text{
        top: 26.5rem;
        left: 80%;
    }

    .home-section .container{
        row-gap: 5rem;
    }

    h3{
        font-size: 1.8rem;
    }

    p{
        font-size: 1.7rem;
    }

    a{
        font-size: 1.5rem;
        font-weight: 400;
    }

   
    .footer{
        /* width: 125%; */
    }
}

@media screen and (min-width: 500px){
        h3 {
                font-size: 2rem;
            }
        
            p {
                font-size: 1.7rem;
            }
        
            a {
                font-size: 1.5rem;
                font-weight: 400;
            }
}

@media screen and (min-width: 700px){
    .home-content{
        grid-template-columns: repeat(2, 1fr);
        column-gap: .5rem;
    }
    .product-img{
        width: 200px;
    }

    .project-example{
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }


}

@media screen and (min-width: 1100px){
    .container{
        margin-inline: auto;
    }
}

@media screen and (min-width: 1024px){
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    
    .nav-close,
    .nav-toggle{
        display: none;
    }

    .list{
        flex-direction: row;
        column-gap: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.3rem;
    }

    a {
        font-size: 1rem;
        font-weight: 400;
    }
}